body {
    background: #F6F1E7;
    font-family: Poppins;
}

#banner {
    width: 100%;
}

#icon {
    width: 200px;
}

.titulo-principal {
    padding-left: 20px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#boas-vindas {
    font-size: 20px;
}

strong {
    color: #8B008B;
}

.assinatura {
    font-family: "Kaushan Script";
    font-size: 20px;
}

.produtos {
    background: #f5dea8;
    padding: 20px;
    margin: 0 auto;
}

.animais {
    width: 49%;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.imagemhumanos, .imagemgatos {
    width: 620px;
}